home.tfvars
terraform.tfvars
.terraform/
*.tfstate
local.env
venv
.venv


secrets/*
!secrets/*.enc.*
!secrets/**/*.enc

**/secrets/internal/*
!**/secrets/internal/*.enc.*
!**/secrets/internal/**/*.enc

**/secrets/confidential/*
!**/secrets/confidential/*.enc.*
!**/secrets/confidential/**/*.enc

**/secrets/restricted/*
!**/secrets/restricted/*.enc.*
!**/secrets/restricted/**/*.enc
